/* Reset do CSS */

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
   margin:0px;
   padding:0;
   box-sizing: border-box;
}

/*Configurações gerais*/
body { 
 display: flex;
 flex-direction: column;
 min-height: 100vh;
font-family: "Slabo 27px"
} 




header {
    background-color: #232852;
    color: #ffffff;
    font-style: oblique;
    padding: 20px;
    text-align: center;
}

main {
 background-color: #0e155875;
 flex: 1;
 padding: 48px 38px;
 width: 100%;
}

about-section {
 display:block;
 background-color: #9ea5e762;
 width: 80%;
 margin: 0 auto;
 padding: 40px;
 border-radius: 12px;
 margin-bottom: 30px;
}

#titulo-sobre-mim {
    font-size: 30px;
    border-bottom: 3px solid #212974b9;
} .texto-sobre-mim {
    font-size: 20px;
} 
hobbies{
    display:block;
    background-color: #9ea5e762;
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 30px;
   }

   ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 12px;
   }

   li {
    background-color: #9ea5e762;
    padding: 12px;
    border-left: 4px solid rgb(48, 0, 124);
    font-size: 16px;
    min-width: 350px
   }
   li:hover {
    background-color: #232852fb;
    transform: translateX(5px);
    transition: all 0.3s ease;
   } 
   #titulo-meus-hobbies {
    font-size: 30px;
    border-bottom: 3px solid #212974b9;
    margin-bottom: 20px;
   }